
body, html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}


.sort {
    width: 6px;
    margin-right: 18px;
    /* padding-left: 8px; */
    opacity: 0.6;
}

.heart {
    width: 20px;
    margin-right: 20px;
}

.user {
    width: 17px;
    opacity: 0.6;
    padding-right: 15px;
}

/* .heart:hover {
    height: 30px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } */

nav {
    display: flex;
    font-size: 24px;
    /* border: 1px solid black; */
    padding-left: 25px;
    padding-right: 25px;
}

.left {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    width: 46%;
    justify-content: flex-start;
    flex: 1;
} 

nav > h1{
    font-size: 30px;
    align-items: flex-start;
    color: #053361;
    font-weight: 2500px;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: #053361;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}

.right {
    display: flex;
    align-items: center;
    width: 70.8%;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

.right > a {
    text-decoration: none;
    color: #053361;
    font-size: 15px;
    margin-right: 9px;
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 80px;
    padding: 0;
    margin-left: 31.667px;
    margin-right: 31.667px;
}  


header ul{
    margin: 0;
    padding: 0;
}


/* Section II begins */
.sectionii {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    background: url(./img/woman-in-black-blazer-driving.jpg) no-repeat center center;
    height: 400px;
    width: 100%;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;

}
.sectionii h1 {
    color: white;
    font-size: 76px;
    /* font-family: 'Jost', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 30px #2a343d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 180px;
    margin-bottom: 0;
}

.sectionii button {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: auto;
    margin-top: 30px;
    color: #053361;
    height: 48px;
    padding: 20px 30px 30px 30px;
    font-size: .875rem;
    font-weight: bolder;
    background-color: #ffd900;
    border: none;
    border-radius: 2px;
}


/* #search {
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    margin-bottom: 18px;
    color: #053361;
    margin-left: 31.7px;
    margin-right: 31.667px;
    height: 25px;
} */

.search{
    position: relative;
}

.search-btn{
    color: #053361;
    padding-top: 15px;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    left: 92%;
    right: 5%;
    z-index: 10;
}

input {
    padding: 15px 8px 15px 7px;
    margin-left: 56px;
    font-size: 15px;
    width: 90%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    font-size: 15px;
    border-radius: 6px;
    border:  1px solid grey;
    position: absolute;
    left: 0.2%;
    right: 10%;
        /* color: #5b5f63; */
    /* color: #021930; */
    /* margin-right: 31.667px; */
}

.sectioniii {
    border: 1px solid #ffd900;
    background-color: #ffd900;
    height: 320px;
    /* padding: 0;
    margin-top: 0; */
    /* background: url(./img/red-car.png) no-repeat 900px 0px; */
}

.sectioniii img{
    padding-top: 90px;
    width: 520px;
    height: 180px;
    overflow: hidden;
    float: right;
}

.sectioniii h3{
    color: #053361;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 70px;
    font-size: 35px;
    padding-top: 50px;
    /* border: 2px solid black; */
    overflow: hidden;
    width: 500px;
    margin-left: 120px;
}

.sectioniii p{
    color: #053361;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 15px;
    font-size: 22px;
    /* border: 2px solid black; */
    overflow: hidden;
    width: 500px;
    margin-left: 120px;
}

.text {
    text-decoration: underline;
}

@media screen and (max-width:1024px) {  
    .sectioniii img {
      display: none;
    }
}

/* Section IV begins */
.sectioniv {
    background-color: #053361;
    border: 0.5px solid #053361;
    height: 360px;
    position: relative;
}

.sectioniv input {
    font-size: 15px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 45%;
    height: 42px;
    padding-bottom: 0%;
    margin-right: 40px;
    margin-left: 40px;
}

.title{
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.curved-top1{
    background-color: #1773cf;
    line-height: 40px;
    border: none;
    border-radius: 0%;
    width: 150px;
    position: absolute;
    top: 40%;
    left: 4.3%;
    border: none;
    border-radius: 0%;
    border-bottom: solid 1px white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.curved-top-text1{
    font-size: 11px;
    font-weight: 600;
    color: white;
    background: transparent;
    position: absolute;
    top: 47%;
    left: 8%;
}

.curved-top2{
    background-color: #1773cf;
    line-height: 40px;
    width: 150px;
    position: absolute;
    top: 40%;
    left: 20%;
    border: none;
    border-radius: 0%;
    border-bottom: solid 1px white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.curved-top-text2 {
    color: white;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    top: 47%;
    left: 23.7%;
}

.curved-top3{
    background-color: #1773cf;
    line-height: 40px;
    width: 220px;
    margin-left: 10px;
    position: absolute;
    top: 40%;
    left: 35.55%;
    border: none;
    border-radius: 0%;
    border-bottom: solid 1px white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.curved-top-text3{
    font-size: 11px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 47.8%;
    left: 39.3%;
}

.sectioniv .budget {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    color: white;
    width: 6.5%;
    position: absolute;
    top: 47%;
    left: 64%;
    align-items: flex-end;
}

.money {
    font-size: 70px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 13%;
    left: 71%;
}

.link1 {
    position: absolute;
    top: 64%;
    left: 78%;
    color: white;
    font-size: 13px;
}

.sectioniv button {
    font-size: 15px;
    display: flex;
    margin: auto;
    color: #053361;
    height: 48px;
    font-weight: bolder;
    background-color: #ffd900;
    border: none;
    border-radius: 2px;
    margin-top: 170px;
    margin-bottom: 0%;
    padding: 17px 10px 10px 10px;
}

.link2 {
    position: absolute;
    top: 93%;
    left: 48%;
    color: white;
    font-size: 13px;
}

::placeholder {
    color: white;
}