
body, html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}


.sort {
    width: 6px;
    margin-right: 18px;
    /* padding-left: 8px; */
    opacity: 0.6;
}

.heart {
    width: 20px;
    margin-right: 20px;
}

.user {
    width: 17px;
    opacity: 0.6;
    padding-right: 15px;
}

/* .heart:hover {
    height: 30px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } */

nav {
    display: flex;
    font-size: 24px;
    /* border: 1px solid black; */
    padding-left: 25px;
    padding-right: 25px;
}

.left {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    width: 46%;
    justify-content: flex-start;
    flex: 1;
} 

nav > h1{
    font-size: 30px;
    align-items: flex-start;
    color: #053361;
    font-weight: 2500px;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: #053361;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}

.right {
    display: flex;
    align-items: center;
    width: 70.8%;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

.right > a {
    text-decoration: none;
    color: #053361;
    font-size: 15px;
    margin-right: 9px;
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 80px;
    padding: 0;
    margin-left: 31.667px;
    margin-right: 31.667px;
}  


header ul{
    margin: 0;
    padding: 0;
}


/* Section II begins */
.sectionii {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    background: url(./img/woman-in-black-blazer-driving.jpg) no-repeat center center;
    height: 400px;
    width: 100%;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;

}
.sectionii h1 {
    color: white;
    font-size: 76px;
    /* font-family: 'Jost', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 30px #2a343d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 180px;
    margin-bottom: 0;
}

.sectionii button {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: auto;
    margin-top: 30px;
    color: #053361;
    height: 48px;
    padding: 20px 30px 30px 30px;
    font-size: .875rem;
    font-weight: bolder;
    background-color: #ffd900;
    border: none;
    border-radius: 2px;
}


/* #search {
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    margin-bottom: 18px;
    color: #053361;
    margin-left: 31.7px;
    margin-right: 31.667px;
    height: 25px;
} */

.search{
    position: relative;
}

.search-btn{
    color: #053361;
    padding-top: 15px;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    left: 92%;
    right: 5%;
    z-index: 10;
}

input {
    padding: 15px 8px 15px 7px;
    margin-left: 56px;
    font-size: 15px;
    width: 90%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    font-size: 15px;
    border-radius: 6px;
    border:  1px solid grey;
    position: absolute;
    left: 0.2%;
    right: 10%;
        /* color: #5b5f63; */
    /* color: #021930; */
    /* margin-right: 31.667px; */
}

.sectioniii {
    border: 1px solid #ffd900;
    background-color: #ffd900;
    height: 320px;
    /* padding: 0;
    margin-top: 0; */
    /* background: url(./img/red-car.png) no-repeat 900px 0px; */
}

.sectioniii img{
    padding-top: 90px;
    width: 520px;
    height: 180px;
    overflow: hidden;
    float: right;
}

.sectioniii h3{
    color: #053361;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 70px;
    font-size: 35px;
    padding-top: 50px;
    /* border: 2px solid black; */
    overflow: hidden;
    width: 500px;
    margin-left: 120px;
}

.sectioniii p{
    color: #053361;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 15px;
    font-size: 22px;
    /* border: 2px solid black; */
    overflow: hidden;
    width: 500px;
    margin-left: 120px;
}

.text {
    text-decoration: underline;
}

@media screen and (max-width:1024px) {  
    .sectioniii img {
      display: none;
    }
  }

  /* Section V begins */
.users { 
    max-width: 1200px;
    overflow: visible;
    background-color: white;
    color: #053361;
    position: relative;
}

.users h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    margin: 4%;
    margin-bottom: 0%;
  }

.users h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    margin: 1%;
    margin-bottom: 4%;
}

.users img {
    min-width: 200px;
    max-width: 276.9px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 20px;
    margin-bottom: 0%;
}

.del {
    background-color: #f0f1f2;
    box-sizing: border-box;
    margin-left: 20px;
    min-width: 200px;
    max-width: 276.9px;
    height: 61px;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.del img {
    min-width: 20px;
    max-width: 30px;
    height: 30px;
    margin-right: 12px;
}

.js {
    background-color: #f0f1f2;
    box-sizing: border-box;
    margin-left: 20px;
    width: 276.9px;
    height: 61px;
    font-size: 15px;
    position: absolute;
    top: 86.5%;
    left: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.js img {
    min-width: 20px;
    max-width: 30px;
    height: 30px; 
    margin-right: 13px;
}

.bri {
    background-color: #f0f1f2;
    box-sizing: border-box;
    margin-left: 20px;
    width: 276.9px;
    height: 61px;
    font-size: 15px;
    position: absolute;
    top: 86.5%;
    left: 50.2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bri img{
    min-width: 20px;
    max-width: 30px;
    height: 30px; 
    margin-right: 13px;
}

.jaly {
    background-color: #f0f1f2;
    box-sizing: border-box;
    margin-left: 20px;
    width: 276.9px;
    height: 61px;
    font-size: 15px;
    position: absolute;
    top: 86.5%;
    left: 75.3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.jaly img{
    min-width: 20px;
    max-width: 30px;
    height: 30px; 
    margin-right: 13px;
}

@media screen and (max-width:1024px) {  
    .users img {
      width: 200px;
    }

    .del {
      width: 200px;  
    }

    .js {
        width: 200px; 
        position: absolute;
        top: 83.6%;
        left: 22%;
    }

    .bri {
        width: 200px; 
        position: absolute;
        top: 83.6%;
        left: 43.8%;
    }

    .jaly {
        width: 200px; 
        position: absolute;
        top: 83.6%;
        left: 65.8%;
    }
  }

/* Section VI begins here */
.sectionvi {
    background-color: white;
    color: #053361;
    height: 600px;
    margin-right: 30px;
    margin-left: 30px;
}

.your-mind img{
    width: auto;
    height: 232px;
    float: left;
    margin-top: 130px;
    margin-left: 240px;
}

.your-mind h2 {
    float: right;
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 250px;
    margin-top: 150px;
    width: 23%; 
    padding: 30px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.your-mind p {
    float: right;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: 190px;
    width: 28%; 
    padding: 30px;
    padding-top: 0px;
}

.sticker img{
    width: auto;
    height: 232px;
    float: right;
    margin-top: 130px;
    margin-right: 250px;
    margin-bottom: 60px;
}

.sticker h2 {
    float: left;
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
    margin-top: 150px;
    width: 26%; 
    padding: 30px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.sticker p {
    float: left;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 220px;
    width: 28%; 
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.no-haggle img{
    width: auto;
    height: 232px;
    float: left;
    margin-top: 50px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.no-haggle h2 {
    float: right;
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 250px;
    margin-top: 50px;
    width: 25%; 
    padding: 30px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.no-haggle p {
    float: right;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: 200px;
    width: 29%; 
    padding: 30px;
    padding-top: 0px;
    margin-bottom: 100px;
} 

.sectionvi button {
    margin-bottom: 50px;
    color: #053361;
    height: 35px;
    padding: 15px 50px 25px 50px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #ffd900;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
}
